.travelPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.travelList {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.travels {
  display: flex;
  align-items: flex-start; 
  gap: 1rem;
  border: 1px solid #000000;
  padding: 1rem;
}

.image img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.info h2,
.info p,
.info h3 {
  margin: 0;
}

.tag {
  display: flex;
  gap: 10px
}

.deal {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}

.premium,
.allInclusive {
  background-color: rgb(74, 9, 196);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

button {
  background-color: rgb(156, 156, 156);
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border:none;
}
